<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TenMax SDK Configuration</key>
	<dict>
		<key>AdSpace Identifiers</key>
		<dict>
			<key>floating</key>
			<string>272ab27bf41940db</string>
			<key>inline</key>
			<string>7ae4f7cd01c64629</string>
			<key>interstitial</key>
			<string>3f8e54ea2c4549d0</string>
			<key>screenBottom</key>
			<string>059d401c74754687</string>
			<key>screenTop</key>
			<string>12b441e7abce4bb4</string>
		</dict>
		<key>Publisher Identifier</key>
		<string>0fe5b5e7c1</string>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
