<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TenMax SDK Configuration</key>
	<dict>
		<key>AdSpace Identifiers</key>
		<dict>
			<key>floating</key>
			<string>54b9311b6df44af6</string>
			<key>inline</key>
			<string>700e30150dd44505</string>
			<key>interstitial</key>
			<string>77e9e6a018c14226</string>
			<key>screenBottom</key>
			<string>13cfc22345024016</string>
			<key>screenTop</key>
			<string>87135de0ef874e55</string>
		</dict>
		<key>Publisher Identifier</key>
		<string>7ac1ab497e</string>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
