<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TenMax SDK Configuration</key>
	<dict>
		<key>AdSpace Identifiers</key>
		<dict>
			<key>aspect-filling inline</key>
			<string>48b825faf8d14c65</string>
			<key>floating</key>
			<string>aab2ac22b5054b79</string>
			<key>interstitial</key>
			<string>77e9e6a018c14226</string>
			<key>resizing inline</key>
			<string>f7a5d01133ef4c07</string>
			<key>screenBottom</key>
			<string>c678e2d1b5c94342</string>
			<key>screenTop</key>
			<string>cc03936e9d994f31</string>
		</dict>
		<key>Publisher Identifier</key>
		<string>3a915e28ca</string>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
