<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ServiceIds</key>
	<dict>
		<key>FloatingAd</key>
		<string>54b9311b6df44af6</string>
		<key>InlineAd</key>
		<string>700e30150dd44505</string>
		<key>InterstitialAd</key>
		<string>511497d8085d412a</string>
		<key>PublisherId</key>
		<string>7ac1ab497e</string>
		<key>ScreenBottomAd</key>
		<string>13cfc22345024016</string>
		<key>ScreenTopAd</key>
		<string>87135de0ef874e55</string>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
